/* body */

body{
margin:0;
font-family:'Poppins', sans-serif;
background:#7296e9;
color:rgb(180, 65, 65);
}

/* header */

header{
background:#616a8f;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 10px rgba(0,0,0,0.5);
}

header h2{
margin:0;
color:#38bdf8;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}

/* hero */

.hero{
height:90vh;
background:url("room1.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
background:rgba(0,0,0,0.6);
padding:25px;
border-radius:10px;
font-size:45px;
}

/* sections */

.section{
padding:60px 10%;
text-align:center;
}

.section h2{
font-size:32px;
margin-bottom:40px;
color:#38bdf8;
}

/* rooms */

.rooms{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.room{
background:#1e293b;
border-radius:10px;
overflow:hidden;
box-shadow:0 4px 20px rgba(0,0,0,0.4);
transition:0.3s;
}

.room:hover{
transform:translateY(-10px);
}

.room img{
width:100%;
height:200px;
object-fit:cover;
}

.room h3{
margin:15px 0 5px;
}

.room p{
margin-bottom:15px;
}

/* button */

.btn{
background:#22c55e;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
color:white;
display:inline-block;
margin-top:10px;
transition:0.3s;
}

.btn:hover{
background:#16a34a;
}

/* facilities */

.facilities{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.facility{
background:#1e293b;
padding:20px;
border-radius:10px;
font-weight:bold;
box-shadow:0 4px 15px rgba(0,0,0,0.4);
}

/* footer */

footer{
background:#020617;
padding:30px;
text-align:center;
margin-top:40px;
color:#94a3b8;
}

/* mobile */

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:10px;
}

.hero h1{
font-size:28px;
}

}
/* room animation */

.room{
opacity:0;
transform:translateY(40px);
transition:0.6s;
}


/* whatsapp button */

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
box-shadow:0 5px 15px rgba(0,0,0,0.4);

}
.hero h1{

font-size:60px;

font-weight:800;

letter-spacing:2px;

background:linear-gradient(90deg,#38bdf8,#22c55e);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

text-shadow:0 5px 20px rgba(0,0,0,0.5);

}